@charset "utf-8";
/* header  */
.wrapper{position:relative;height:100%;z-index:10;}
.contentWapper{width: 100%;min-height:100%;position:relative;left:0;top:0;z-index:10;background-color:#fff;}

.header .topArea{height:30px;background:#fbfbfb;border-bottom:1px solid #d8d8d8;}
.header .topSection{width:996px;margin:0 auto;*zoom:1;}
.header .topSection:after{content:"";display:block;clear:both;}
.header .slogan{float:left;margin-top:10px;}
.header .sRight{float:right;padding:9px 0;}
.header .util{overflow:hidden;float:left;margin-right:30px;font-family:"dotum";}
.header .util li{float:left;margin-left:5px;padding-left:5px;background:url("../images/img/list_line1.jpg") no-repeat left center;}
.header .util li:first-child{margin-left:0;padding-left:0;background:none;}
.header .util li a{display:block;}
.header .zoomArea{float:left;margin-right:30px;font-family:"dotum";}
.header .lanuage{position:relative;z-index:400;width:76px;height:11px;float:left;font-family:"04B_2";font-size:8px;}
.header .lanuage > a{height:11px;line-height:11px;display:block;padding-left:4px;color:#fff;background:#7d7d7d url("../images/btn/lanuage_arr1.jpg") no-repeat right 1px;}
.header .lanuage.on > a{background:url("../images/btn/lanuage_arr2.jpg") no-repeat right 1px;}
.header .lanuage ul{display:none;position:absolute;left:0;z-index:400;top:11px;width:100%;}
.header .lanuage ul.on{display:block;}
.header .lanuage ul > li{background:#d7d7d7;border-top:1px solid #fff;}
.header .lanuage ul > li > a{padding:2px 0 2px 4px;display:block;color:#959595;}
.header .menuArea{position:relative;z-index:300;border-bottom:5px solid #1a367f;}
.header .menuArea .shadow{position:absolute;left:0;top:51px;z-index:300;width:100%;height:10px;background:url("../images/img/shadow_bg2.png") repeat-x 0 0;}
.header .menuWrap{width:996px;height:46px;margin:0 auto;*zoom:1;}
.header .menuWrap:after{content:"";display:block;clear:both;}
.header .logo{width:189px;float:left;margin-top:7px;}
.header .logo a{display:block;}
.header .logo a img{width:189px;vertical-align:top;}
.header .searchArea{width:220px;overflow:hidden;float:right;margin-top:10px;}
.header .searchArea .searchBox{width:168px;float:left;;border:1px solid #7bb330;overflow:hidden;}
.header .searchArea .searchBox input[type="text"]{width:137px;float:left;height:23px;line-height:23px;border:0;color:#cbcbcb;}
.header .searchArea .searchBox > .searchbtn{width:26px;height:23px;display:block;float:left;}
.header .searchArea > a{width:25px;display:block;float:left;}

.headerM{display:none;position:relative;height:33px;border-bottom:3px solid #1a367f;background:#fff;z-index:500;}
.headerM .logo{position:absolute;left:50%;top:5px;width:100px;height:19px;margin-left:-50px;}
.headerM .logo a{display:block;}
.headerM .logo img{width:100%;vertical-align:top;}
.headerM > a{position:absolute;top:0;width:33px;height:32px;display:block;text-align:center;}
.headerM > a > img{width:16px;margin-top:8px;}
.headerM .sidemenuBtn{left:0;background:#102986;}
.headerM .msearchBtn{right:0;background:#7bb230;}
.headerM .msearchBox{display:none;padding-top:34px;}

.headerM .msearchBox.on{display:block;border-bottom:1px solid #afbac4;}
.headerM .s_input{position:relative;display:block;background:#fff;}
.headerM .s_input .in_text{width:100%;height:30px;margin-right:-30px;padding-left:0;border-top:1px solid #afbac4;border-left:0;border-right:0;border-radius:1px;-webkit-appearance:none;color:#666;}
.headerM .s_input .search_btn1{position:absolute;top:1px;right:0;width:30px;height:30px;border:0;background:#fff;display:block;-webkit-appearance:none;}
.headerM .s_input .sel{width:16px;height:15px;display:inline-block;border:none;background:url('../images/icon/search_view.png') no-repeat 50% 50%;background-size:15px;}

/* GNB */
.header .gnb{width:556px;margin-left:30px;float:left;*zoom:1;}
.header .gnb:after{content:"";display:block;clear:both;}
.header .gnb > li{float:left;}
.header .gnb > li > a{padding:17px 10px 17px 10px;letter-spacing:-1px;display:block;color:#313131;font-weight:bold;font-size:14px;}
.header .gnb > li.on > a{background:url("../images/icon/gnb_arr.jpg") no-repeat center bottom;}
.header .gnb > li:first-child > a{padding-left:0;}
.header .gnb > li.last > a{padding-right:0;}
.header .gnb > li > .mbg{display:none;position:absolute;left:0;top:46px;z-index:400;width:100%;padding:8px 0;background:#f5f5f5 url("../images/img/shadow_bg2.png") repeat-x 0 0;border-top:5px solid #1a367f;border-bottom:1px solid #203e7a;}
.header .gnb > li > .mbg.on{display:block;}
.header .gnb > li > .mbg .mwrap{width:996px;margin:0 auto;}
.header .gnb > li > .mbg > .mwrap > ul{overflow:hidden;}
.header .gnb > li > .mbg > .mwrap > ul > li{float:left;margin-left:16px;}
.header .gnb > li > .mbg > .mwrap > ul > li > a{height:23px;line-height:23px;display:block;font-size:14px;padding:0 5px;}
.header .gnb > li > .mbg > .mwrap > ul > li:first-child {margin-left:0;}
.header .gnb > li > .mbg > .mwrap > ul > li.on > a{background:#d5d5d5;border-radius:5px;}
.header .gnb div.menu02 ul{margin-left:206px;}
.header .gnb div.menu03 ul{margin-left:380px;}
.header .gnb div.menu04 ul{margin-left:380px;}
.header .gnb div.menu06 ul{margin-left:550px;} 

/* mobileGNB */
.mobileGnb{display:none;position:absolute;left:-250px;top:0;z-index:10;width:250px;background:#5e6170 url("../images/img/mgnb_bg.jpg") repeat-y right top;}
.mobileGnb .mTopmenu{background:#3d4053 url("../images/img/mgnb_bg3.jpg") repeat-y right top;;padding:10px 15px 15px 15px;}
.mobileGnb .mTopmenu ul{overflow:hidden;}
.mobileGnb .mTopmenu ul li{width:33%;float:left;}
.mobileGnb .mTopmenu ul li a{height:30px;line-height:30px;display:block;color:#fff;padding:0 5px;}
.mobileGnb .mTopmenu ul li a:hover{background:#242736;border-radius:5px;}
.mGnb > li{border-bottom:1px solid #3d4053;}
.mGnb > li > a{display:block;padding:13px 0 13px 20px;color:#fff;font-weight:bold;font-size:15px;}
.mGnb > li.on > a{background:#4c4f5e;background:#4c4f5e url("../images/img/mgnb_bg2.jpg") repeat-y right top;}
.mGnb > li.on > ul{display:block;}
.mGnb > li > ul{display:none;border-top:1px solid #3d4053;}
.mGnb > li > ul > li > a{display:block;padding:13px 0 13px 26px;background:#65676e;color:#fff;font-size:12px;}
.mGnb > li > ul > li.on ul{display:block;}
.mGnb > li > ul > li > ul{display:none;}
.mGnb > li > ul > li > ul > li > a{display:block;padding:10px 0 10px 32px;background:#737685;color:#fff;font-size:11px;}

/* container , lnb  */
.containerArea{width:996px;margin:0 auto;}
.container{position:relative;*zoom:1;min-height:100%;padding-bottom:120px;background:url("../images/img/lnb_linebg.jpg") repeat-y 0 0;}
.container:after{content:"";display:block;clear:both;}

.lnb{width:202px;float:left;}
.lnb .lnbtit{width:202px;height:87px;line-height:87px;text-align:center;color:#fff;font-size:16px;}
.lnb .lnbtit.bg1{background:url("../images/img/lnb_titbg01.jpg") no-repeat 0 0;}
.lnb .lnbtit.bg2{background:url("../images/img/lnb_titbg02.jpg") no-repeat 0 0;}
.lnb .lnbtit.bg3{background:url("../images/img/lnb_titbg03.jpg") no-repeat 0 0;}
.lnb .lnbtit.bg4{background:url("../images/img/lnb_titbg04.jpg") no-repeat 0 0;}
.lnb .lnbtit.bg5{background:url("../images/img/lnb_titbg05.jpg") no-repeat 0 0;}
.lnb .lnbtit.bg6{background:url("../images/img/lnb_titbg06.jpg") no-repeat 0 0;}
.lnb .lnbtit.bg7{background:url("../images/img/lnb_titbg07.jpg") no-repeat 0 0;}

.lnb > ul{border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;}
.lnb > ul > li > a{border-top:1px solid #dcdcdc;}
.lnb > ul > li:first-child > a{border-top:0;}
.lnb > ul > li > a{display:block;height:49px;line-height:49px;padding-left:32px;color:#434343;font-size:16px;}
.lnb > ul > li > a:hover,
.lnb > ul > li > a:focus,
.lnb > ul > li.on > a{background:url("../images/img/lnb_menu_onbg.jpg") no-repeat 0 0;color:#fff;}

.lnb > ul > li > ul{display:none;}
.lnb > ul > li.on > ul{display:block;}
.lnb > ul > li > ul > li{background:#dcdcdc;}
.lnb > ul > li > ul > li > a{height:36px;line-height:36px;display:block;padding-left:32px;color:#959595;font-size:13px;}
.lnb > ul > li > ul > li.on > a,
.lnb > ul > li > ul > li > a:hover{background:url("../images/img/lnb_menu_blt.jpg") no-repeat 0 center;color:#434343;}

.title_Area{height:87px;*zoom:1;}
.title_Area.bdr{border-bottom:1px solid #535353;}
.title_Area.bdr2{border-bottom:2px solid #535353;}
.title_Area:after{content:"";clear:both;clear:both;}
.title_Area h2{height:58px;line-height:58px;float:left;font-size:34px;margin-top:21px;}
.title_Area h2 span{font-size:18px;}
.title_Area .location{float:right;margin-top:55px;padding:1px 0 0;font-family:"돋움",dotum;}
.title_Area .location{padding-left:28px;background:url("../images/icon/home.jpg") no-repeat 0 center;}
.title_Area .location > a{margin:0 2px;}
.contents{width:762px;float:right;}

/* footer */
.footer{font-family:"돋움",dotum;margin-top:15px;}
.footer .footCenter{position:relative;width:996px;margin:0 auto;}
.footer .footTop{height:40px;background:#5e6170;}
.footer .footTop ul.f_info{overflow:hidden;}
.footer .footTop ul.f_info li{float:left;padding-left:7px;margin-left:7px;background:url("../images/img/foot_line.jpg") no-repeat 0 center;}
.footer .footTop ul.f_info li a{display:block;padding:14px 0;color:#fff;}
.footer .footTop ul.f_info li:first-child{padding-left:0;margin-left:0;background:none;}
.footer .footTop ul.f_info li:first-child a{font-weight:bold;}
.footer .footBottom{height:80px;background:#5e6170;padding-bottom:30px;overflow:hidden;}
.footer .footBottom .footlogo{float:left;margin-top:17px;}
.footer .footBottom .addr{float:left;margin:17px 0 0 30px;line-height:21px;color:#fff;}
.footer .footBottom .qrCode{float:right;margin-top:10px;}
.pageTop{position:absolute;right:0;bottom:-14px;width:56px;height:18px;display:block;}

/* Cross-browser */
.ie7 .header .util li a{padding:1px 0;}
.ie7 .header .zoomArea *{vertical-align:top;}
.ie7 .header .logo{margin-top:3px;}
.ie8 .header .util li a{padding:1px 0;}
.ie9 .header .util li a{padding:1px 0;}

/* 모바일 하단메뉴 */
.footer .mobileSelect{display:none;position:relative;font-size:12px;z-index:1000;background:#5e6170;}
.footer .mobileSelect > a{padding:14px 0 14px 20px;display:block;color:#cbced7;font-weight:bold;background:url("../images/btn/mselect_up.jpg") no-repeat right center;}
.footer .mobileSelect > a.on{background:url("../images/btn/mselect_down.jpg") no-repeat right center;}
.footer .mobileSelect ul{position:absolute;left:0;top:-168px;z-index:200;width:100%;display:none;}
.ie7 .footer .mobileSelect ul,
.ie7 .footer .mobileSelect ul,
.ie9 .footer .mobileSelect ul{top:-169px;}
.footer .mobileSelect ul.on{display:block;}
.footer .mobileSelect ul > li{border-top:1px solid #fff;}
.footer .mobileSelect ul > li:first-child{border-top:0}
.footer .mobileSelect ul > li > a{display:block;padding:14px 0 14px 20px;background:#5e6170;color:#cbced7;}
.footer .mobileSelect ul > li > a:hover{background:#3d4053;}
